apiVersion: v1
kind: Service
metadata:
  labels:
    workload.user.cattle.io/workloadselector: deployment-default-demoapp
  name: demoapp
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    workload.user.cattle.io/workloadselector: deployment-default-demoapp
  type: ClusterIP
